# Ignore everything by default.
/*

# Keep this ignore policy tracked.
!/.gitignore
!/SATR-README.md

# Track custom ns-3 contribution module files.
!/contrib/
/contrib/*
!/contrib/.gitignore
!/contrib/SATR/
!/contrib/SATR/**

# Track custom project documentation.
!/docs/
/docs/*
!/docs/paper/
!/docs/paper/**

# Track experiment outputs.
!/results/
!/results/**

# Track custom scratch entry points only.
!/scratch/
/scratch/*
!/scratch/satr-runner.cc
